node_modules/
vendor/
.env
.env.*
/public/storage
/storage/*.key



# backend
# composer install
# composer require laravel/sanctum
# php artisan config:publish cors

# frontend
# npm create vite@latest frontend
# npm install axios
# 