/* کارت فرم */
html[data-lang="fa"] .form-container,
html[data-lang="ps"] .form-container {
    direction: rtl;
    margin: 20px 230px 20px 20px;
}
  
html[data-lang="en"] .form-container {
    direction: ltr;
    margin: 20px 20px 20px 230px;
}
html[data-lang="en"] form {
  text-align: left;
}
html[data-lang="fa"] select,
html[data-lang="ps"] select {
  padding-right: 35px;
}

.icons{
  width: 25px;
  height: 25px;
}
.form-container {
  background: var(--background);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--border);
}

/* لیبل‌ها */
.form-label {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-primary);
}

/* اینپوت‌ها */
.form-control,
.form-select {
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 10px;
  font-size: 14px;
  transition: all 0.2s ease;
}

/* فوکوس */
.form-control:focus,
.form-select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}

/* placeholder */
.form-control::placeholder {
  font-size: 13px;
  color: #9CA3AF;
}

/* checkbox */
.form-check-input {
  cursor: pointer;
}

/* دکمه */
.btn-primary {
  background: #4F46E5;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
}

.btn-primary:hover {
  background: #4338CA;
}

/* فاصله پایین فرم */
.form-container .col-12 {
  margin-top: 10px;
}