.sidebar {
  width: 220px;
  height: 100vh;
  background-color: var(--sidebarbg);
  color: var(--text-primary);
  padding: 20px;
  position: fixed;
}

.logo {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}

.menu {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  text-align: start;
  align-items: start;
  width: 100%;
  text-decoration: none;
  color: var(--text-primary);
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.item:hover {
  background: var(--primary-hover);
  color: var(--text);
}

/* لینک فعال */
.active {
  background: var(--primary);
  color: var(--text);
}